 <% if (config.disqus_shortname && page.comments) { %>
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
     var disqus_config = function () {
     this.page.url = '<%- post.permalink %>';
     this.page.identifier = '<%- post.path %>';
     };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, disqus_shortname = '<%= config.disqus_shortname %>',s = d.createElement('script');
        s.src = 'https://'+disqus_shortname+'.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<% } %>

<% if (config.netease && page.comments) { %>
    <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    <script>
      var cloudTieConfig = {
        url: document.location.href,
        sourceId: "",
        productKey: "<%=config.netease %>",
        target: "cloud-tie-wrapper"
      };
    </script>
    <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<% } %>

<% if (config.gitment && page.comments) { %>
<div id="gitment-container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  owner: 'honjun',
  repo: 'honjun.github.io',
  oauth: {
    client_id: '387efef7cc982e65330a',
    client_secret: '326d79b4c7aedb781ef5813a5faf9eeafd63b3b8',
  },
})
gitment.render('gitment-container')
</script>
<% } %>

<% if (config.livere && page.comments) { %>
<div id="lv-container" data-id="city" data-uid="MTAyMC8zNzA1NC8xMzU5MA==">
    <script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
    </script>
<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
</div>
<% } %>